# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build output
dist/
build/
.next/
out/
/generated/prisma

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store

# Env
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp
.temp
.tmp

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Local DB
*.db
